---
title: 9lore's webpage
---

<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="styles.css">
	<title>{{ title }}</title>
</head>

<body class="mt-5 container-md">
	{{ content | safe }}
</body>

</html>
